<div class="page-header">
	<h1>People</h1>
	<p>Maintain your available musicians, technical staff and
		speakers/preachers</p>
</div>

<input type="text" ng-model="search" class="search-query"
	placeholder="Search">
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th><a href="#/people/create"><i class="icon-plus-sign"></i></a></th>
		</tr>
	</thead>
	<tbody >
		<h3>Musicians</h3>
		<tr ng-repeat="musician in musicians | filter:search | orderBy:'name'">
			<td>
				<a href="#/people/{{musician.id}}" target="_blank">{{musician.name}}</a>
			</td>
			<td>
				{{musician.description}}
			</td>
			<td>
				<a href="#/people/edit/{{musician.id}}"><i class="icon-pencil"></i></a>
			</td>
			<td>
				<a ng-click="deleteMusician(musician)"><i class="icon-remove"></i></a>
			 	
			</td>
		</tr>
	</tbody>
	
</table>
	