<h2>{{editHeading}}</h2>

<div class="row">
	<div class="span3">
		
			<div>
				<label for="name">Name: </label> <input type="text" name="name"
					ng-model="musician.name" /> <label for="description">Description:
				</label>
				<textarea name="description" ng-model="musician.description"></textarea>

			</div>
	</div>
	<div class="span4">
		<ul>
			<li ng-repeat="instrument in instruments" >
				<input  type="checkbox" 
						name="instrument" 
						value="{{instrument.id}}" 
						ng-model="ischecked"
						ng-checked="hasInstrument(instrument)"
						ng-change="change(instrument,ischecked)">{{instrument.name}}
			</li>
		</ul>
	</div>

</div>
<div class="row">
	<div class="span3">
	
		<button class="btn btn-info btn-small" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary btn-small" ng-click="save()">Save</button>
	</div>
</div>
